body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0;
}
p {
    margin: 0;
}

button {
    background-color: #3882f6;
    border: none;
    text-align: center;
    color: #f9faf8;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    padding: 10px 40px;
    border-radius: 8px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.links {
    display: flex;
    gap: 24px;
}
.header, .main .one, .footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}
.header, .main .one, .footer {
    padding: 24px 96px;
    margin: 0;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex: 1;
}
.main .one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 84px;
}
.left, .right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 250px;
}
.right {
    background-color: gray;
    justify-content: center;
    align-items: center;
}
.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    display: flex;
    padding: 0;
    margin: 0;
}

.hero-text {
    padding: 10px 0;
}

.main .two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin: 0;
    padding-bottom: 90px;
}

.card {
    display: flex;
    border-color: #3882f6;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-text {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    color: gray;
    align-items: column;
    justify-content: column;
    text-align: center;
}
.two .title {
    display: flex;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 36px;
}

.footer {
    margin-top: auto;
}